<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if @contact.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

        <ul>
        <% @contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_for @contact, html: { multipart: true }   do |f| %>
      <div class="form-group">
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email %><br>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :image %><br>
        <%= f.file_field :image, class: 'form-control' %>
      </div>
      <%= f.fields_for :phones do |phone_number| %>
        <div class="form-group">
          <%= phone_number.label :phone %>
          <%= phone_number.text_field :phone_number %>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :group %><br>
        <%= f.select :group, ['Friends', 'Families', 'Colleagues'] %>
      </div>

        <%= f.submit :class => 'btn btn-primary' %>
    <% end %>
  </div>  
</div>