<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= form_tag "/contacts", method: :get  do %>
    <%= text_field_tag :keyword, params[:keyword], placeholder: "Keyword" %>
  <%= submit_tag "Search" %>
<% end %>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td><%= image_tag contact.image.thumb.url %></td>
            <td><%= contact.first_name %></td>
            <td><%= contact.last_name %></td>
            <td><%= contact.email %></td>
            <td><%= link_to 'Show', contact %></td>
            <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
            <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>