<p>
  <strong>Image:</strong>
  <%= image_tag @contact.image.url %>
</p>
<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>
<p>
  <strong>Phone:</strong>
  <ul>
    <% @contact.phones.each do |phone| %>
      <li><%= phone.phone_number %></li>
    <% end %>  
  </ul>
</p>

<p>
  <strong>Group:</strong>
  <%= @contact.group %>
</p>

<%= link_to 'Back', contacts_path %>
<%= link_to 'Edit', edit_contact_path %>