<h1>Contact Nlocal</h1>
<%= form_tag "/contacts", method: :get  do %>
    <%= text_field_tag :keyword, params[:keyword], placeholder: "Keyword" %>
  <%= submit_tag "Search" %>
<% end %> 

<%= @contacts.each do |contact| %>
  <ul>
    <p><%= link_to contact.full_name, contact %></p>
    <p><%= image_tag contact.image.thumb.url %></p>
    <li><%= contact.first_name %></li>
    <li><%= contact.last_name %></li>
    <li><%= contact.email %></li>
  </ul>
<% end %>