<!DOCTYPE html>
<html>
<head>
  <title>ManageNlocalContacts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/header" %>
  <%= render 'shared/alert_messages' %>
  <div class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
